a {
    color: white;
    font-family: sans-serif;
}
body {
    margin: 0px;
    background: rgb(178, 204, 209);
}

h3 {
    vertical-align: top;
}

.content-tab {
    width: 24.7%;
    position: relative;
	display: inline-block;
	padding: 1.2em 3em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: white;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    opacity: 65%;
}

.active {
    opacity: 100%;
    font-weight: bold;
}

div {
    text-align: center;
    margin-top: 20px;
}

footer {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    opacity: 85%;
    align-items: center;
    margin-top: 30px;
}

h1, h2 {
    text-align: center;
}

td {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.active {
    background-color: #4CAF50;
    color: white;
}
li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.contentContainer {

}

.grid-container {
    display: grid;
    grid-template-columns: 300px 4fr 300px;
}

#locationImage {
    max-width: 250px;
}

#main-content {
    display: grid;
    grid-template-rows: 1fr 5fr;

}

#mainContentContainer {
    height: 50vh;
    overflow: auto;
}

#nav-list {
    text-align: justify;
}
#nav-list:after {
    content: '';
    display: inline-block;
    width: 100%;
}

input[type='radio']l{   
    display: table-cell;
    vertical-align: middle;
    float: right;
 }

form {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: right;
    float: right;
}
#radioForm {
    position: absolute;
    z-index: 1;
}